/* index.css */
.notFound-container {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-family: roboto;
  color: #ffffff;
  min-height: 100vh;
}

.not-found-img {
  width: 200px;
  height: auto;
}

.not-found-heading {
  font-size: 2rem;
  margin-top: 1rem;
}

.not-found-description {
  font-size: 1rem;
  margin-top: 0.5rem;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .not-found-heading {
    font-size: 1.5rem;
  }

  .not-found-description {
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .not-found-img {
    width: 150px;
  }

  .not-found-heading {
    font-size: 1.75rem;
  }

  .not-found-description {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .not-found-img {
    width: 250px;
  }

  .not-found-heading {
    font-size: 2rem;
  }

  .not-found-description {
    font-size: 1rem;
  }
}
