.job-route-container {
  background-color: #000000;
  background-size: cover;
  min-height: 90vh;
  padding: 35px;
  display: flex;
  flex-direction: row;
}
.line {
  height: 1px;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 20px;
}
