.profile-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  width: 220px;
  height: 170px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-family: roboto;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-card h1 {
  margin-bottom: 10px;
  font-size: 18px;
}

.profile-card img {
  width: 65px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.profile-card p {
  font-size: 13px;
  color: #666;
}
